* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL */
body {
  font-family: sans-serif;
  color: #2c3e50;
}

#lessons {
  background-color: #ecf0f1;
}

#steps {
  background-color: rgba(66, 139, 202, 0.4);
}

#why {
  background-color: rgba(246, 195, 122, 0.4);
}

[class*="col-"] {
  margin-bottom: 50px;
}

/* [id]:not(:last-of-type) {
  padding-bottom: 30px;
} */


/* TYPOGRAPHY */
h1,
h2 {
  padding: 20px 0;
  text-align: center;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

#why img {
  padding: 15px;
  background-color: #428bca;
  border-radius: 50%;
}

/* MOBILE */
img {
  display: block;
  margin: 0 auto 15px;
  height: 100px;
}

p {
  margin: auto;
  max-width: 500px;
  text-align: center;
  font-size: 20px;
}

hr {
  margin: 15px auto 15px;
  max-width: 50%;
  color: rgba(66, 139, 202, 0.4);
}

/* TABLET */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  h1,
  h2 {
    padding: 25px 0;
    text-align: center;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 26px;
  }

  p {
    font-size: 22px;
    max-width: 650px;
  }

  img {
    height: 150px;
  }
}
/* DESKTOP */
@media screen and (min-width: 992px) {
  .container {
    max-width: 100%;
  }
  h1,
  h2 {
    padding: 30px 0;
    text-align: center;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  p {
    padding: 0 15px;
    font-size: 24px;
    max-width: 1024px;
  }

  img {
    height: 200px;
  }

  hr {
    width: 100%;
    max-width: 100%;
  }
}
